<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.boot_hello.mapper.RtBoxReplenishMapper">
  <resultMap id="BaseResultMap" type="com.jie.boot_hello.entity.RtBoxReplenish">
    <!--@mbg.generated-->
    <!--@Table rt_box_replenish-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="entry_warehouse_no" jdbcType="VARCHAR" property="entryWarehouseNo" />
    <result column="out_warehouse_no" jdbcType="VARCHAR" property="outWarehouseNo" />
    <result column="replenish_batch_no" jdbcType="VARCHAR" property="replenishBatchNo" />
    <result column="replenish_no" jdbcType="VARCHAR" property="replenishNo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="employee_no" jdbcType="VARCHAR" property="employeeNo" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, store_id, entry_warehouse_no, out_warehouse_no, replenish_batch_no, replenish_no, 
    `status`, finish_time, cancel_time, employee_no, employee_name, is_delete, create_id, 
    create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rt_box_replenish
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from rt_box_replenish
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jie.boot_hello.entity.RtBoxReplenish" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rt_box_replenish (store_id, entry_warehouse_no, out_warehouse_no, 
      replenish_batch_no, replenish_no, `status`, 
      finish_time, cancel_time, employee_no, 
      employee_name, is_delete, create_id, 
      create_time, update_id, update_time
      )
    values (#{storeId,jdbcType=VARCHAR}, #{entryWarehouseNo,jdbcType=VARCHAR}, #{outWarehouseNo,jdbcType=VARCHAR}, 
      #{replenishBatchNo,jdbcType=VARCHAR}, #{replenishNo,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP}, #{employeeNo,jdbcType=VARCHAR}, 
      #{employeeName,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jie.boot_hello.entity.RtBoxReplenish" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rt_box_replenish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        store_id,
      </if>
      <if test="entryWarehouseNo != null">
        entry_warehouse_no,
      </if>
      <if test="outWarehouseNo != null">
        out_warehouse_no,
      </if>
      <if test="replenishBatchNo != null">
        replenish_batch_no,
      </if>
      <if test="replenishNo != null">
        replenish_no,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="employeeNo != null">
        employee_no,
      </if>
      <if test="employeeName != null">
        employee_name,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="entryWarehouseNo != null">
        #{entryWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouseNo != null">
        #{outWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishBatchNo != null">
        #{replenishBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishNo != null">
        #{replenishNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="employeeNo != null">
        #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jie.boot_hello.entity.RtBoxReplenish">
    <!--@mbg.generated-->
    update rt_box_replenish
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="entryWarehouseNo != null">
        entry_warehouse_no = #{entryWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouseNo != null">
        out_warehouse_no = #{outWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishBatchNo != null">
        replenish_batch_no = #{replenishBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishNo != null">
        replenish_no = #{replenishNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="employeeNo != null">
        employee_no = #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jie.boot_hello.entity.RtBoxReplenish">
    <!--@mbg.generated-->
    update rt_box_replenish
    set store_id = #{storeId,jdbcType=VARCHAR},
      entry_warehouse_no = #{entryWarehouseNo,jdbcType=VARCHAR},
      out_warehouse_no = #{outWarehouseNo,jdbcType=VARCHAR},
      replenish_batch_no = #{replenishBatchNo,jdbcType=VARCHAR},
      replenish_no = #{replenishNo,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      employee_no = #{employeeNo,jdbcType=VARCHAR},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>