<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.boot_hello.mapper.RtBoxReplenishVehicleDetailMapper">
  <resultMap id="BaseResultMap" type="com.jie.boot_hello.entity.RtBoxReplenishVehicleDetail">
    <!--@mbg.generated-->
    <!--@Table rt_box_replenish_vehicle_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="replenish_batch_no" jdbcType="VARCHAR" property="replenishBatchNo" />
    <result column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo" />
    <result column="replenish_bill_no" jdbcType="VARCHAR" property="replenishBillNo" />
    <result column="rt_no" jdbcType="VARCHAR" property="rtNo" />
    <result column="pick_quantity" jdbcType="DECIMAL" property="pickQuantity" />
    <result column="bad_validity" jdbcType="VARCHAR" property="badValidity" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, store_id, replenish_batch_no, vehicle_no, replenish_bill_no, rt_no, pick_quantity, 
    bad_validity, is_delete, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rt_box_replenish_vehicle_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from rt_box_replenish_vehicle_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jie.boot_hello.entity.RtBoxReplenishVehicleDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rt_box_replenish_vehicle_detail (store_id, replenish_batch_no, vehicle_no, 
      replenish_bill_no, rt_no, pick_quantity, 
      bad_validity, is_delete, create_id, 
      create_time, update_id, update_time
      )
    values (#{storeId,jdbcType=VARCHAR}, #{replenishBatchNo,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, 
      #{replenishBillNo,jdbcType=VARCHAR}, #{rtNo,jdbcType=VARCHAR}, #{pickQuantity,jdbcType=DECIMAL}, 
      #{badValidity,jdbcType=VARCHAR}, #{isDelete,jdbcType=BOOLEAN}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jie.boot_hello.entity.RtBoxReplenishVehicleDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rt_box_replenish_vehicle_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        store_id,
      </if>
      <if test="replenishBatchNo != null">
        replenish_batch_no,
      </if>
      <if test="vehicleNo != null">
        vehicle_no,
      </if>
      <if test="replenishBillNo != null">
        replenish_bill_no,
      </if>
      <if test="rtNo != null">
        rt_no,
      </if>
      <if test="pickQuantity != null">
        pick_quantity,
      </if>
      <if test="badValidity != null">
        bad_validity,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="replenishBatchNo != null">
        #{replenishBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishBillNo != null">
        #{replenishBillNo,jdbcType=VARCHAR},
      </if>
      <if test="rtNo != null">
        #{rtNo,jdbcType=VARCHAR},
      </if>
      <if test="pickQuantity != null">
        #{pickQuantity,jdbcType=DECIMAL},
      </if>
      <if test="badValidity != null">
        #{badValidity,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jie.boot_hello.entity.RtBoxReplenishVehicleDetail">
    <!--@mbg.generated-->
    update rt_box_replenish_vehicle_detail
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="replenishBatchNo != null">
        replenish_batch_no = #{replenishBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishBillNo != null">
        replenish_bill_no = #{replenishBillNo,jdbcType=VARCHAR},
      </if>
      <if test="rtNo != null">
        rt_no = #{rtNo,jdbcType=VARCHAR},
      </if>
      <if test="pickQuantity != null">
        pick_quantity = #{pickQuantity,jdbcType=DECIMAL},
      </if>
      <if test="badValidity != null">
        bad_validity = #{badValidity,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jie.boot_hello.entity.RtBoxReplenishVehicleDetail">
    <!--@mbg.generated-->
    update rt_box_replenish_vehicle_detail
    set store_id = #{storeId,jdbcType=VARCHAR},
      replenish_batch_no = #{replenishBatchNo,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      replenish_bill_no = #{replenishBillNo,jdbcType=VARCHAR},
      rt_no = #{rtNo,jdbcType=VARCHAR},
      pick_quantity = #{pickQuantity,jdbcType=DECIMAL},
      bad_validity = #{badValidity,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>