<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.boot_hello.mapper.RtBoxReplenishDemandMapper">
  <resultMap id="BaseResultMap" type="com.jie.boot_hello.entity.RtBoxReplenishDemand">
    <!--@mbg.generated-->
    <!--@Table rt_box_replenish_demand-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="entry_warehouse_no" jdbcType="VARCHAR" property="entryWarehouseNo" />
    <result column="entry_warehouse_name" jdbcType="VARCHAR" property="entryWarehouseName" />
    <result column="out_warehouse_no" jdbcType="VARCHAR" property="outWarehouseNo" />
    <result column="out_warehouse_name" jdbcType="VARCHAR" property="outWarehouseName" />
    <result column="replenish_batch_no" jdbcType="VARCHAR" property="replenishBatchNo" />
    <result column="replenish_demand_no" jdbcType="VARCHAR" property="replenishDemandNo" />
    <result column="rt_no" jdbcType="VARCHAR" property="rtNo" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="weighted_flag" jdbcType="TINYINT" property="weightedFlag" />
    <result column="thermosphere_flag" jdbcType="TINYINT" property="thermosphereFlag" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="required_quantity" jdbcType="DECIMAL" property="requiredQuantity" />
    <result column="employee_no" jdbcType="VARCHAR" property="employeeNo" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, store_id, entry_warehouse_no, entry_warehouse_name, out_warehouse_no, out_warehouse_name, 
    replenish_batch_no, replenish_demand_no, rt_no, product_name, course_id, course_name, 
    spec, weighted_flag, thermosphere_flag, `status`, finish_time, cancel_time, required_quantity, 
    employee_no, employee_name, is_delete, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rt_box_replenish_demand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from rt_box_replenish_demand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jie.boot_hello.entity.RtBoxReplenishDemand" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rt_box_replenish_demand (store_id, entry_warehouse_no, entry_warehouse_name, 
      out_warehouse_no, out_warehouse_name, replenish_batch_no, 
      replenish_demand_no, rt_no, product_name, 
      course_id, course_name, spec, 
      weighted_flag, thermosphere_flag, `status`, 
      finish_time, cancel_time, required_quantity, 
      employee_no, employee_name, is_delete, 
      create_id, create_time, update_id, 
      update_time)
    values (#{storeId,jdbcType=VARCHAR}, #{entryWarehouseNo,jdbcType=VARCHAR}, #{entryWarehouseName,jdbcType=VARCHAR}, 
      #{outWarehouseNo,jdbcType=VARCHAR}, #{outWarehouseName,jdbcType=VARCHAR}, #{replenishBatchNo,jdbcType=VARCHAR}, 
      #{replenishDemandNo,jdbcType=VARCHAR}, #{rtNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{courseId,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, 
      #{weightedFlag,jdbcType=TINYINT}, #{thermosphereFlag,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP}, #{requiredQuantity,jdbcType=DECIMAL}, 
      #{employeeNo,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, 
      #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jie.boot_hello.entity.RtBoxReplenishDemand" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rt_box_replenish_demand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        store_id,
      </if>
      <if test="entryWarehouseNo != null">
        entry_warehouse_no,
      </if>
      <if test="entryWarehouseName != null">
        entry_warehouse_name,
      </if>
      <if test="outWarehouseNo != null">
        out_warehouse_no,
      </if>
      <if test="outWarehouseName != null">
        out_warehouse_name,
      </if>
      <if test="replenishBatchNo != null">
        replenish_batch_no,
      </if>
      <if test="replenishDemandNo != null">
        replenish_demand_no,
      </if>
      <if test="rtNo != null">
        rt_no,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="weightedFlag != null">
        weighted_flag,
      </if>
      <if test="thermosphereFlag != null">
        thermosphere_flag,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="requiredQuantity != null">
        required_quantity,
      </if>
      <if test="employeeNo != null">
        employee_no,
      </if>
      <if test="employeeName != null">
        employee_name,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="entryWarehouseNo != null">
        #{entryWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="entryWarehouseName != null">
        #{entryWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouseNo != null">
        #{outWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouseName != null">
        #{outWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="replenishBatchNo != null">
        #{replenishBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishDemandNo != null">
        #{replenishDemandNo,jdbcType=VARCHAR},
      </if>
      <if test="rtNo != null">
        #{rtNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="weightedFlag != null">
        #{weightedFlag,jdbcType=TINYINT},
      </if>
      <if test="thermosphereFlag != null">
        #{thermosphereFlag,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requiredQuantity != null">
        #{requiredQuantity,jdbcType=DECIMAL},
      </if>
      <if test="employeeNo != null">
        #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jie.boot_hello.entity.RtBoxReplenishDemand">
    <!--@mbg.generated-->
    update rt_box_replenish_demand
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="entryWarehouseNo != null">
        entry_warehouse_no = #{entryWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="entryWarehouseName != null">
        entry_warehouse_name = #{entryWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouseNo != null">
        out_warehouse_no = #{outWarehouseNo,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouseName != null">
        out_warehouse_name = #{outWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="replenishBatchNo != null">
        replenish_batch_no = #{replenishBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="replenishDemandNo != null">
        replenish_demand_no = #{replenishDemandNo,jdbcType=VARCHAR},
      </if>
      <if test="rtNo != null">
        rt_no = #{rtNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="weightedFlag != null">
        weighted_flag = #{weightedFlag,jdbcType=TINYINT},
      </if>
      <if test="thermosphereFlag != null">
        thermosphere_flag = #{thermosphereFlag,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requiredQuantity != null">
        required_quantity = #{requiredQuantity,jdbcType=DECIMAL},
      </if>
      <if test="employeeNo != null">
        employee_no = #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jie.boot_hello.entity.RtBoxReplenishDemand">
    <!--@mbg.generated-->
    update rt_box_replenish_demand
    set store_id = #{storeId,jdbcType=VARCHAR},
      entry_warehouse_no = #{entryWarehouseNo,jdbcType=VARCHAR},
      entry_warehouse_name = #{entryWarehouseName,jdbcType=VARCHAR},
      out_warehouse_no = #{outWarehouseNo,jdbcType=VARCHAR},
      out_warehouse_name = #{outWarehouseName,jdbcType=VARCHAR},
      replenish_batch_no = #{replenishBatchNo,jdbcType=VARCHAR},
      replenish_demand_no = #{replenishDemandNo,jdbcType=VARCHAR},
      rt_no = #{rtNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      weighted_flag = #{weightedFlag,jdbcType=TINYINT},
      thermosphere_flag = #{thermosphereFlag,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      required_quantity = #{requiredQuantity,jdbcType=DECIMAL},
      employee_no = #{employeeNo,jdbcType=VARCHAR},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>